In [9]:
import nltk
import pandas as pd

# Tokenize
doc = pd.DataFrame([ ['He developed it, and now he designs it.']
      , ['School openings put off again to April 6']
      , ['NLTK is a Leading platform for building Python programs to work with human language data. ']
      ,['NLTK and XYZ has been called “a wonderful tool for teaching, and working in, computational linguistics using Python,” and “an amazing library to play with natural language.”']
       ], columns=['content'])
tknz_doc = doc[['content']]
tknz_doc['content'] = doc.apply(lambda x: nltk.word_tokenize(x['content']),axis=1)
tknz_doc.head(2)

                                             content
0  [He, developed, it, ,, and, now, he, designs, ...
1  [School, openings, put, off, again, to, April, 6]

In [10]:
from nltk.corpus import stopwords

stop = stopwords.words('english')
tknz_doc['content'] = tknz_doc['content'].apply(lambda x:[word for word in x if word not in (stop)])
tknz_doc.head()

                                             content
0                     [He, developed, ,, designs, .]
1                  [School, openings, put, April, 6]
2  [NLTK, Leading, platform, building, Python, pr...
3  [NLTK, XYZ, called, “, wonderful, tool, teachi...

In [11]:
# Convert type
from nltk.stem import WordNetLemmatizer

tknz_doc['content'] = tknz_doc['content'].apply(lambda x: [WordNetLemmatizer().lemmatize(word, pos='v') for word in x])
tknz_doc.head()

                                             content
0                        [He, develop, ,, design, .]
1                      [School, open, put, April, 6]
2  [NLTK, Leading, platform, build, Python, progr...
3  [NLTK, XYZ, call, “, wonderful, tool, teach, ,...

In [12]:
# It targets four or more text length.
tknz_doc['content'] = tknz_doc['content'].apply(lambda x: [word for word in x if len(word)>3])
tknz_doc.head()

                                             content
0                                  [develop, design]
1                              [School, open, April]
2  [NLTK, Leading, platform, build, Python, progr...
3  [NLTK, call, wonderful, tool, teach, work, com...

In [14]:
# Convert to lowcase
tknz_doc['content'] = tknz_doc['content'].apply(lambda x: [word.lower() for word in x])
tknz_doc.head()

                                             content
0                                  [develop, design]
1                              [school, open, april]
2  [nltk, leading, platform, build, python, progr...
3  [nltk, call, wonderful, tool, teach, work, com...

In [44]:
import re
x = "*abcd def * c"
x= re.sub("[^a-zA-Z]", " ", x)
print(x)

 abcd def   c