# 11.6 Naver Movie Review Sentiment Anaysis

### 1. 네이버 영화 리뷰 데이터에 대한 이해와 전처리

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import urllib.request
import matplotlib.pyplot as plt
import re
from konlpy.tag import Okt
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

##### 1) 데이터 로드하기

In [5]:
urllib.request.urlretrieve('https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt', filename ='../../data/naver/ratings_train.txt')
urllib.request.urlretrieve('https://raw.githubusercontent.com/e9t/nsmc/master/ratings_test.txt', filename ='../../data/naver/ratings_test.txt')

('../../data/naver/ratings_test.txt',
 <http.client.HTTPMessage at 0x7feb9d08eba8>)

In [7]:
train_data = pd.read_table('../../data/naver/ratings_train.txt')
test_data = pd.read_table('../../data/naver/ratings_test.txt')

In [9]:
print('Count of Train data :',len(train_data))

Count of Train data : 150000

In [10]:
train_data[:5]

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [12]:
print('Review count:', len(test_data))

Review count: 50000

In [13]:
test_data[:5]

        id                                           document  label
0  6270596                                                굳 ㅋ      1
1  9274899                               GDNTOPCLASSINTHECLUB      0
2  8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3  6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4  6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0